.entry-page-container {
  background-color: $light-gray;
  padding-top: 1rem;
  width: 100vw;
  height: auto;
}

.all-entries-btn {
  i {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
  }
}

.entry-page {
  display: flex;
}

.objectives-container {
  width: 30%;
  height: fit-content;
  padding: 3rem;
  margin: 0 3rem 3rem 3rem;
  background-color: $white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;
  top: 110px;

  h2 {
    align-self: center;
    margin-bottom: 1rem;
    font-family: "Roboto";
  }

  i {
    color: $purple;
    text-decoration: none;
    margin-right: 0.5rem;
  }

  .button-confirm {
    padding: 0;
  }
}

.new-objective-btn {
  background-color: $purple;
  color: $white;
  margin-top: 1rem;
}

.content-container {
  width: 60%;
  height: fit-content;
  padding: 3rem;
  margin: 1rem 3rem 3rem 37%;
  background-color: $white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.heading {
  text-align: center;
}

.files {
  .file {
    height: 20rem;
    margin-right: 3rem;
    box-shadow: 1px 1px 27px -9px rgba(0,0,0,0.1);
  }
  height: 30%;
  width: 100%;
  overflow: scroll;
  display: flex;
  justify-content: flex-start;
}

.icons {
  align-self: flex-end;
  font-size: 20px;


}
