.objectives-page {
  padding: 2rem;
}

.title {
  margin-bottom: 1rem;
}

.objective-container {
  margin: 0.5rem auto 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 2rem;
  border-radius: 5px;
  background-color: $white;

  .progress-container {
    display: flex;
    align-items: center;
    width: 50%;

    .progress {
      width: 74%;
      margin: 0 1rem;
    }

    p {
      color: $dark-gray;
      margin: 0;
      font-size: 14px;
    }
  }

  .icons {
    display: flex;
    align-items: center;

    i,
    button {
      font-size: 16px;
      color: $dark-gray;
      padding: 0;
    }

    i {
      padding: 0 0.3rem;
    }
  }
}

.tasks-container {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.task {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 2rem;
  border-radius: 5px;
  background-color: $white;
  width: 95%;
}

.task-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 92%;

  p {
    font-size: 12px;
    color: $purple;
    background-color: $light-purple;
    margin: 0;
    padding: 0.3rem 0.5rem;
    border-radius: 5px;
  }
}

.task-icons {
  display: flex;

  i {
    color: $dark-gray;
  }
}
