$purple: #7B5FF1;
$light-purple: #F1EFFE;
$white: #FFFFFF;
$light-gray: #F8F8F8;
$dark-gray: #828A93;
$border-gray: #DDDDDD;

body {
  background-color: $light-gray;
}

.hide {
  display: none !important;
  transition: all 1s ease-out;
}
