<div class=" calendar-container">
  <h4 id="align-center">All entries</h4>
<%= button_to "Create Summary", create_summary_article_path(current_user.id), method: :post %>
  <div class="calendar-entries">
    <%= month_calendar do |date| %>
      <div class="calendar">
        <div class="date-number">
          <div class="date-today">
            <p><%= date.day %></p>
          </div>
        </div>
        <% @articles.each do |item| %>
          <% if item.date == date %>
            <div class="entry">
              <p> <%= link_to item.title, article_path(item)  %> </p>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<div id="summary-container">
  <!-- Summary content will be displayed here -->
</div>
