<div class="container d-flex justify-content-center ">
  <ul>
    <% @articles.each do |item| %>
      <p class="titles"><%= link_to item.title, article_path(item), class: "text-decoration-none text-dark" %></p>
    <% end %>
  </ul>
</div>
