<footer>
  <p>This website was created as part of a <a href="https://hellentamara.github.io/HellenTamara-Portfolio/index.html" target="_blank">Portfolio</a></p>
  <p>All rights reserved</p>
</footer>
