.button-confirm {
  background-color: $white;
  border: none;
}

.modal-btn {
  background-color: $purple;
  color: $white;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  padding: 0.3rem 1rem;
}

.sign-up-btn {
  background-color: $purple;
  color: $white;
  width: 100%;
  padding: 0.5rem;
}
