.entry-card {
  background-color: $light-purple;
  border-radius: 5px;
  width: 95%;
  margin: 0.5rem 0 0 0;

  a {
    text-decoration: none;
    color: $purple;
    margin-left: 0.5rem;
  }

  p {
    margin: 0 0 0 0.5rem;
  }


}

.new-entry {
  background-color: $purple;
  border-radius: 5px;
  width: 95%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  text-align: center;
  color: $white;
  text-decoration: none;
}

.login-card {
  margin: auto;
  height: 32rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  padding: 0 auto;
  width: 471px;
  background-color: $white;
  border: 1px solid $light-gray;
  border-radius: 15px;
}
