.entry-card {
  background-color: $light-purple;
  border-radius: 5px;
  width: 95%;
  margin: 0.5rem 0 0 0;

  a {
    text-decoration: none;
    color: $purple;
    margin-left: 0.5rem;
  }

  p {
    margin: 0 0 0 0.5rem;
  }


}

.new-entry-container {
  margin: auto;
  width: 90%;
  height: 34rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid #F8F8F8;
  border-radius: 15px;
}

.login-card {
  margin: auto;
  height: 32rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 auto;
  width: 471px;
  background-color: $white;
  border: 1px solid $light-gray;
  border-radius: 15px;
}
