.search-form {
  width: 25%;
  align-content: stretch;

  input {
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    color: #828A93;
  }

  .search-btn {
    background-color: white;
    color: #828A93;
  }
}
