.search-form {
  width: 25%;
  align-content: stretch;

  input {
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    color: $dark-gray;
  }

  .search-btn {
    background-color: $white;
    color: $dark-gray;
  }
}
