#header h1{
  font-family: Roboto;
  font-size: 2.45rem;
}

.header-img {
  width: 25rem;
}

.cta-btn {
  margin-top: 3rem;
  border-radius: 19px;
  width: 15rem;
  height: 2.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $purple;

  a {
    text-decoration: none;
    color: $white;
    font-family: Roboto;
  }
}
