.navbar-lewagon {
  justify-content: space-between;
  background: $white;
  border-bottom: 1px black solid;
  padding: 0.5rem 1rem;
  height: 70px;

  .nav-link {
    font-family: Roboto;
  }

  .logo {
    font-size: 19px;
  }

  .login,
  .signup {
    font-family: Roboto;
    color: $purple;
    text-decoration: none;
    text-align: center;
    border: 2px $purple solid;
    border-radius: 23px;
    padding: 9px 29px;
  }

  .signup {
    background-color: $purple;
    color: $white;
    margin-left: 10px;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.avatar {
  border-radius: 50%;
  width: 50px;
}
