@media (max-width: 1200px) {

  .benefits-list {
    img {
      height: 30rem;
    }

    ul {
      margin-top: 1rem;
    }
  }
}

@media (max-width: 991px) {
  #benefits h2 {
    margin: 0;
  }

  .header-img {
    width: 21rem;
  }

  .benefits-list {
    img {
      height: 25rem;
    }

    ul {

      li:nth-child(1) p {
        font-size: 17px;
      }

      padding-left: 188px;
      width: 67%;
      font-size: 80%;
    }
  }

  .benefits-img {
    width: 30%;
  }

  // calendar
  .calendar-list {
    flex-direction: column;
  }

  .calendar-entries .simple-calendar {
    .table {
      height: 40vh;
    }

    .list-entries {
      border: none;
      width: 100%;

    }
  }

  .calendar {
    height: 80px;
  }
}

@media (min-width: 768px) {
  .navbar-expand-lg .offcanvas .offcanvas-body {
    display: flex;
    align-self: end;
  }
}

@media (max-width: 767px) {

  // navbar
  .nav-item .login,
  .nav-item .signup {
    border: none;
    background-color: $white;
    color: $dark-gray;
    padding: 0;
    margin: 0;
  }

  // header
  .header-container img {
    display: none;
  }

  .cta-btn {
    margin: 48px auto 0 auto;
  }

  .header-left {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  // features
  #features {
    ul {
      flex-direction: column;
      width: 80%;
    }
  }

  .feature {
    width: 100%;
    margin: 0 0 2rem 0;
  }

  // benefits
  .benefits-list {
    flex-direction: column;

    ul {
      width: 80%;
      padding: 0;

      li:nth-child(7) {
        align-self: center;
      }
    }

  }

  .benefits-img {
    width: 100%;

    img {
      height: 19rem;
    }
  }

  // calendar
  .calendar-container {
    padding: 1rem 1rem;
  }

  .calendar-heading {
    flex-direction: column;
    margin-bottom: 1rem;

    a:nth-child(1) {
      display: none;
    }

    .nav {
      a:nth-child(1) {
        display: block;
      }

    }

    .search-form {
      width: 80%;
    }
  }

  .table {
    display: none;
  }

  .calendar-entries .simple-calendar .list-entries {
    height: fit-content;
  }
}
